<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListSectionFactorTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="SectionFactorListForm">
                <p:panel header="#{bundle.ListSectionFactorTitle}">
                    <p:dataTable id="datalist" value="#{sectionFactorController.items}" var="item"
                                 selectionMode="single" selection="#{sectionFactorController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 widgetVar="sectionFactorTable"
                                 >
                        <f:facet name="header">
                            <p:panelGrid columns="2">
                                <p:outputPanel>
                                    <h:outputText value="جستجو در تمام فیلدها:" />
                                    <p:inputText id="globalFilter" onkeyup="PF('sectionFactorTable').filter()" style="width:150px" placeholder="جستجو..."/>
                                </p:outputPanel>
                                <p:outputPanel>
                                    <p:commandButton id="toggler" type="button" value="انتخاب ستون ها" style="float:left" icon="ui-icon-calculator" />
                                    <p:columnToggler datasource="datalist" trigger="toggler" /> 
                                </p:outputPanel>
                            </p:panelGrid>
                        </f:facet>
                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSectionFactorTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column sortBy="#{item.title}" filterBy="#{item.title}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSectionFactorTitle_title}"/>
                            </f:facet>
                            <h:outputText value="#{item.title}"/>
                        </p:column>
                        <p:column sortBy="#{item.describtion}" filterBy="#{item.describtion}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSectionFactorTitle_describtion}"/>
                            </f:facet>
                            <h:outputText value="#{item.describtion}"/>
                        </p:column>
                        <p:column sortBy="#{item.createdAt}" filterBy="#{item.createdAt}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSectionFactorTitle_createdAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.createdAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column sortBy="#{item.updatedAt}" filterBy="#{item.updatedAt}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSectionFactorTitle_updatedAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.updatedAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{sectionFactorController.prepareCreate}" update=":SectionFactorCreateForm" oncomplete="PF('SectionFactorCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":SectionFactorViewForm" oncomplete="PF('SectionFactorViewDialog').show()" disabled="#{empty sectionFactorController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":SectionFactorEditForm" oncomplete="PF('SectionFactorEditDialog').show()" disabled="#{empty sectionFactorController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{sectionFactorController.destroy}" update=":growl,datalist" disabled="#{empty sectionFactorController.selected}"/>
                            <p:commandButton value="دریافت اکسل اطلاعات" ajax="false" immediate="true">
                                <p:dataExporter type="xls" target="datalist" pageOnly="true" fileName="OutPut"/>
                            </p:commandButton>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
