<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListFaqTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="FaqListForm">
                <p:panel header="#{bundle.ListFaqTitle}">
                    <p:dataTable id="datalist" value="#{faqController.items}" var="item"
                                 selectionMode="single" selection="#{faqController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 widgetVar="faqTable"
                                 >
                        <f:facet name="header">
                            <p:panelGrid columns="2">
                                <p:outputPanel>
                                    <h:outputText value="جستجو در تمام فیلدها:" />
                                    <p:inputText id="globalFilter" onkeyup="PF('faqTable').filter()" style="width:150px" placeholder="جستجو..."/>
                                </p:outputPanel>
                                <p:outputPanel>
                                    <p:commandButton id="toggler" type="button" value="انتخاب ستون ها" style="float:left" icon="ui-icon-calculator" />
                                    <p:columnToggler datasource="datalist" trigger="toggler" /> 
                                </p:outputPanel>
                            </p:panelGrid>
                        </f:facet>
                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFaqTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column sortBy="#{item.faq}" filterBy="#{item.faq}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFaqTitle_faq}"/>
                            </f:facet>
                            <h:outputText value="#{item.faq}"/>
                        </p:column>
                        <p:column sortBy="#{item.slug}" filterBy="#{item.slug}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFaqTitle_slug}"/>
                            </f:facet>
                            <h:outputText value="#{item.slug}"/>
                        </p:column>
                        <p:column sortBy="#{item.orderList}" filterBy="#{item.orderList}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFaqTitle_orderList}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderList}"/>
                        </p:column>
                        <p:column sortBy="#{item.visible}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFaqTitle_visible}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.visible}" disabled="true"/>
                        </p:column>
                        <p:column sortBy="#{item.enable}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFaqTitle_enable}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.enable}" disabled="true"/>
                        </p:column>
                        <p:column sortBy="#{item.answer}" filterBy="#{item.answer}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFaqTitle_answer}"/>
                            </f:facet>
                            <h:outputText value="#{item.answer}"/>
                        </p:column>
                        <p:column sortBy="#{item.meta}" filterBy="#{item.meta}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFaqTitle_meta}"/>
                            </f:facet>
                            <h:outputText value="#{item.meta}"/>
                        </p:column>
                        <p:column sortBy="#{item.createdAt}" filterBy="#{item.createdAt}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFaqTitle_createdAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.createdAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column sortBy="#{item.updatedAt}" filterBy="#{item.updatedAt}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFaqTitle_updatedAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.updatedAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{faqController.prepareCreate}" update=":FaqCreateForm" oncomplete="PF('FaqCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":FaqViewForm" oncomplete="PF('FaqViewDialog').show()" disabled="#{empty faqController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":FaqEditForm" oncomplete="PF('FaqEditDialog').show()" disabled="#{empty faqController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{faqController.destroy}" update=":growl,datalist" disabled="#{empty faqController.selected}"/>
                            <p:commandButton value="دریافت اکسل اطلاعات" ajax="false" immediate="true">
                                <p:dataExporter type="xls" target="datalist" pageOnly="true" fileName="OutPut"/>
                            </p:commandButton>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
