<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/Admin/content/List" value="Show All Content Items"/>
        <br />
        <h:link outcome="/Admin/contentCategory/List" value="Show All ContentCategory Items"/>
        <br />
        <h:link outcome="/Admin/factor/List" value="Show All Factor Items"/>
        <br />
        <h:link outcome="/Admin/factorField/List" value="Show All FactorField Items"/>
        <br />
        <h:link outcome="/Admin/faq/List" value="Show All Faq Items"/>
        <br />
        <h:link outcome="/Admin/portfolio/List" value="Show All Portfolio Item" />
        <br />
        <h:link outcome="/Admin/portfolioCategory/List" value="Show All PortfolioCategory Items"/>
        <br />
        <h:link outcome="/Admin/protfolioImg/List" value="Show All ProtfolioImg Items"/>
        <br />
        <h:link outcome="/Admin/sectionFactor/List" value="Show All SectionFactor Items"/>
        <br />
        <h:link outcome="/Admin/seo/List" value="Show All Seo Items"/>
        <br />
        <h:link outcome="/Admin/user/List" value="Show All User Items"/>
        <br />
        <h:link outcome="/portfolio/List" value="Show All Portfolio Items"/>
        <br />
        <h:link outcome="/portfolio/List" value="Show All Portfolio Items"/>
        <br />
        <h:link outcome="/protfolioImg/List" value="Show All ProtfolioImg Items"/>
        <br />
        <h:link outcome="/contact/List" value="Show All Contact Items"/>
        <br />
        <h:link outcome="/order/List" value="Show All Order Items"/>
    </h:body>
















</html>

