<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>

    <h:body>

        <p:growl id="growl" life="3000" />

        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="65" header="#{bundle.AppName}">
                <h:form id="menuForm">
                    <p:menubar>
                        <p:menuitem  value="#{bundle.Home}" outcome="/index" icon="ui-icon-home"/>
                        <p:menuitem styleClass="#{view.viewId eq '/Admin/content/List.xhtml' ? 'ui-menuitem-active ui-state-hover':''}" value="محتوا" outcome="/Admin/content/List.xhtml" icon="ui-icon-document" />
                        <p:menuitem styleClass="#{view.viewId eq '/Admin/contentCategory/List.xhtml' ? 'ui-menuitem-active ui-state-hover':''}" value="دسته بندی محتوا" outcome="/Admin/contentCategory/List.xhtml" icon="ui-icon-pencil"/>
                        <p:menuitem styleClass="#{view.viewId eq '/Admin/factor/List.xhtml' ? 'ui-menuitem-active ui-state-hover':''}" value="فاکتورها" outcome="/Admin/factor/List.xhtml" icon="ui-icon-pencil"/>
                        <p:menuitem styleClass="#{view.viewId eq '/Admin/factorField/List.xhtml' ? 'ui-menuitem-active ui-state-hover':''}" value="افزودنی های پیش فاکتور" outcome="/Admin/factorField/List.xhtml" icon="ui-icon-pencil"/>
                        <p:menuitem styleClass="#{view.viewId eq '/Admin/sectionFactor/List.xhtml' ? 'ui-menuitem-active ui-state-hover':''}" value="بخش های پیش فاکتور" outcome="/Admin/sectionFactor/List.xhtml" icon="ui-icon-pencil"/>
                        <p:menuitem styleClass="#{view.viewId eq '/Admin/faq/List.xhtml' ? 'ui-menuitem-active ui-state-hover':''}" value="سوالات متداول" outcome="/Admin/faq/List.xhtml" icon="ui-icon-pencil"/>
                        <p:menuitem styleClass="#{view.viewId eq '/Admin/portfolio/List.xhtml' ? 'ui-menuitem-active ui-state-hover':''}" value="نمونه کارها" outcome="/Admin/portfolio/List.xhtml" icon="ui-icon-pencil"/>
                        <p:menuitem styleClass="#{view.viewId eq '/Admin/portfolioCategory/List.xhtml' ? 'ui-menuitem-active ui-state-hover':''}" value="دسته بندی نمونه کارها" outcome="/Admin/portfolioCategory/List.xhtml" icon="ui-icon-pencil"/>
                        <p:menuitem styleClass="#{view.viewId eq '/Admin/user/List.xhtml' ? 'ui-menuitem-active ui-state-hover':''}" value="کاربران" outcome="/Admin/user/List.xhtml" icon="ui-icon-pencil"/>
                        <p:menuitem value="ProtfolioImg" outcome="/Admin/protfolioImg/List.xhtml" icon="ui-icon-pencil"/>
                        <p:menuitem value="Seo" outcome="/Admin/seo/List.xhtml" icon="ui-icon-pencil"/>
                    </p:menubar>
                    <p:panel style="direction: rtl">
                        <p:outputLabel for="basic" value="انتخاب تم :" style="margin-top: -20px" /> 
                        <p:themeSwitcher id="basic" style="width:165px">
                            <f:selectItem itemLabel="پیشفرض" itemValue="metroui" />
                            <f:selectItems value="#{themeService.themes}" var="theme" itemLabel="#{theme.displayName}" itemValue="#{theme.name}"/>
                        </p:themeSwitcher>
                    </p:panel>
                </h:form>

            </p:layoutUnit>

            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
            </p:layoutUnit>

            <p:layoutUnit position="center" style="margin-top: 100px">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>

    </h:body>
    <style>
        
        .ui-panel-content{
            margin-top: 12px !important;
        }
        .active{
            background-color: #004e72 !important;
        }
    </style>
</html>
