<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/Client/layouts.xhtml">
        <ui:define name="body">
            <section class="engine"><a rel="external" href="https://mobirise.com">best web design software for mac</a></section>
            <section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background" id="header4-1" style="background-image: url(../resources/images/shutterstock-131753615-1000x660-93.jpg);">
                <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-center mbr-after-navbar">
                    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);"></div>
                    <div class="mbr-box__container mbr-section__container container">
                        <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-center">
                                <div class="row"><div class=" col-sm-8 col-sm-offset-2">
                                        <div class="mbr-hero animated fadeInUp">
                                            <div class="col-lg-12">
                                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="font-weight: bold ">
                                                    <hr style="border: solid 3px;"/>
                                                    طراحی حرفه ای
                                                </div>
                                                <div class="col-lg-6">
                                                    <h4 class="mbr-hero__text">طراحی سایت بهینه سازی سایت گمانه </h4>
                                                </div>
                                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="font-weight: bold">
                                                    <hr style="border: solid 3px"/>
                                                    طراحی اختصاصی
                                                </div>
                                            </div>
                                            
                                            <p class="mbr-hero__subtext">مسیر ورود به دنیای اینترنت را هموار کردیم</p>
                                        </div>
                                        <div class="mbr-buttons btn-inverse mbr-buttons--center"><a class="mbr-buttons__btn buttons_special btn btn-lg btn-danger animated fadeInUp delay" href="index.html#msg-box4-14">سئو سایت</a> <a class="mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" href="index.html#header2-5">درباره ما</a></div>
                                    </div></div>
                            </div></div>
                    </div>

                </div>
            </section>

            <section class="mbr-section mbr-section--relative mbr-section--short-paddings" id="msg-box1-7" style="background-color: rgb(0, 168, 133);">



                <div class="mbr-section__container mbr-section__container--isolated container" style="padding-top: 60px; padding-bottom: 60px;">
                    <div class="row">
                        <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                            <div class="mbr-box__magnet mbr-box__magnet--top-left mbr-section__left col-sm-8">
                                <div class="mbr-section__container mbr-section__container--middle">
                                    <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
                                        <h3 class="mbr-header__text">پیاده سازی ایده های شما</h3>
                                    </div>
                                </div>
                                <div class="mbr-section__container">
                                    <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg"><p><span>شما ایده پردازی کنید اجرا را به گمانه بسپارید .</span><span>رضایت بیش از ۱۰۰ مشتری ضامن کار ماست</span></p></div>
                                </div>
                            </div>
                            <div class="mbr-box__magnet mbr-box__magnet--top-left mbr-section__right col-sm-4">
                                <div class="mbr-section__container">
                                    <div class="mbr-buttons mbr-buttons--auto-align mbr-buttons--top mbr-buttons--left"><a class="mbr-buttons__btn btn btn-lg btn-danger" href="#">شروع کنید</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="mbr-gallery mbr-section mbr-section--no-padding" id="gallery1-10" style="background-color: rgb(239, 239, 239);">
                <!-- Gallery -->
                <div class=" container mbr-gallery-layout-default" style="padding-top: 31px; padding-bottom: 31px;">
                    <div>
                        <div class="row mbr-gallery-row">
                            <h:form>
                                <c:forEach var="item" items="#{mainController.portFolio}">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mbr-gallery-item">
                                        <figcaption class="mbr-figure__caption mbr-figure__caption--std-grid">
                                            <div class="mbr-caption-background"></div>
                                            <small class="mbr-figure__caption-small"><span class="pull-right">#{item.title}</span> <span class="pull-left">#{item.percent}%</span></small>
                                        </figcaption>

                                        <h:commandLink action="#{NavigationPage.showPage()}" >
                                            <f:param name="pageId" value="#{item.id}" />
                                            <c:if test="#{item.img[0] != null}">
                                                <img alt="" src="/DeveloperGomaneh/images/portfolio/#{item.img[0]}" width="363px" height="236px"/>
                                            </c:if>
                                            <span class="icon glyphicon glyphicon-zoom-in"></span>
                                        </h:commandLink>
                                    </div>
                                </c:forEach>
                            </h:form>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div style="text-align: center;margin-top: 15px" class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <h:form>
                        <h:commandLink  action="PortFolio.xhtml" styleClass="btn btn-primary btn-lg">نمایش تمام نمونه کارها</h:commandLink>
                        </h:form>
                    </div>
                </div>
            </section>

            <section class="mbr-section mbr-section--relative" id="msg-box4-14" style="background-color: rgb(31, 132, 94);">

                <div class="mbr-section__container mbr-section__container--isolated container" style="padding-top: 93px; padding-bottom: 93px;">
                    <div class="row">
                        <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                            <div class="mbr-box__magnet mbr-box__magnet--top-right mbr-section__left col-sm-6">
                                <figure class="mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width"><a href="#top"><img src="../resources/images/seo1-600x600-73.jpg" class="mbr-figure__img"/></a></figure>
                            </div>
                            <div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-6 mbr-section__right">
                                <div class="mbr-section__container mbr-section__container--middle">
                                    <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
                                        <h3 class="mbr-header__text cut-letter-spacing">سئو سایت و بازاریابی آنلاین</h3>

                                    </div>
                                </div>
                                <div class="mbr-section__container mbr-section__container--middle">
                                    <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg"><p>بازاريابي آنلاين در عصر امروز معناي ديگري به خود گرفته است تا جايي که تجارت تمامي شرکت‌ها به استراتژي بازاريابي آنلاين آنها بستگي دارد. اين که در دنياي ديجيتال و آنلاين چگونه بتوانند خود را به بازار معرفي کنند و سهم بسزايي از بازار را در اختيار خود بگيرند، وابستگي مستقيم به استراتژي‌هاي بازاريابي آنلاين شرکت‌ها دارد.</p></div>
                                </div>
                                <div class="mbr-section__container">
                                    <div class="mbr-buttons mbr-buttons--auto-align btn-inverse"><a class="mbr-buttons__btn buttons_special btn btn-lg btn-default" href="#">اطلاعات بیشتر</a></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background" id="header2-5" style="background-image: url('../resources/images/bg2.jpg');">
                <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">

                    <div class="mbr-box__container mbr-section__container container">
                        <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left">
                                <div class="row"><div class=" col-sm-6 col-sm-offset-6">
                                        <div class="mbr-hero animated fadeInUp">
                                            <h1 class="mbr-hero__text">گمانه</h1>
                                            <p class="mbr-hero__subtext">نکته ی مهم در طراحی وب سایت این است که طراحی و بالا آمدن سایت کافی نیست! و مهمترین نکته بعد از طراحی وب سایت ، آوردن کاربران و یا مشتریان به آن و در نتیجه سودهی سایت است.</p>
                                        </div>
                                        <div class="mbr-buttons btn-inverse mbr-buttons--left"><a class="mbr-buttons__btn btn btn-lg btn-warning animated fadeInUp delay" href="#">اطلاعات بیشتر</a></div>
                                    </div></div>
                            </div></div>
                    </div>

                </div>
            </section>
        </ui:define>
    </ui:composition>

    <script type="text/javascript">

//            $(document).click(function (e) {
//                if (!$(e.target).is('.testd , .dropdown-test-d,.testd > a')) {
//                    $('.dropdown-test-d').css('display', 'none');
////                    $('.logo_gomaneh').removeClass('gomaneh_rotate');
//                }
//            });
//            $('.testd').click(function () {
//                $('.dropdown-test-d').css('display', 'block');
//            });
    </script>
</html>