<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <ui:composition template="/Client/layouts.xhtml">
        <ui:define name="body">
            <div class="col-lg-12" style="margin-top: 100px">
                <div class="">
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="direction: rtl">
                        <p:tabView id="tabview">
                            <p:ajax event="tabChange" update="typeSiteForm ShareOptions Specialoptions Bid "  listener="#{invoiceController.onTabChange}" />
                            <p:tab  title="راهنما">
                                <f:attribute name="section" value="0"/>
                                <br/>
                                <h4 style="text-align: center">به نکات زیر توجه نمایید ...</h4>
                                <p><span class="glyphicon glyphicon-ok"></span> <span>در طراحی تمام وب سایت ها از سی ام اس های آماده مانند جوملا و وردپرس استفاده <code>نمی شود</code></span></p>
                                <p><span class="glyphicon glyphicon-ok"></span> <span>مراحلی که در بخش بالا به صورت شماره 1 تا 7 قرار دارد را به خوبی دنبال نمایید</span></p>
                                <p><span class="glyphicon glyphicon-ok"></span> <span>اطلاعات شخصی خود را با دقت وارد نمایید</span></p>
                                <p><span class="glyphicon glyphicon-ok"></span> <span>پیشنهاد ما این است که برای بهتر دیده شدن وب سایت در موبایل و تبلت, از بخش شماره 6 استفاده نمایید</span></p>
                                <p><span class="glyphicon glyphicon-ok"></span> <span>لازم به ذکر است که این بخش فقط در نهایت به صدور پیش فاکتور منتهی خواهد شد. لزومی ندارد که هزینه ای را در این مراحل پرداخت نمایید</span></p>
                                <p><span class="glyphicon glyphicon-ok"></span> <span>در صورت امکان میتوانید از شماره هایی که در بالای وب سایت قرار دارد ارتباط برقرار نمایید</span></p>
                            </p:tab>
                            <p:tab  title="نوع وب سایت">
                                <f:attribute name="section" value="1"/>
                                <br/>
                                <h:form  id="typeSiteForm" >
                                    <h:selectOneMenu value="#{invoiceController.typeSite}" styleClass="form-control" id="TypeSite">
                                        <f:selectItem itemValue="#{null}" itemLabel="انتخاب کنید..." />
                                        <f:selectItems value="#{invoiceController.currentSection.factorFieldCollection}" var="item" itemValue="#{item}"   itemLabel="#{item.title}" />
                                        <p:ajax update=":tabview:BaseOptions :priceSite :tabview" />
                                    </h:selectOneMenu>
                                </h:form>
                            </p:tab>
                            <p:tab disabled="#{invoiceController.typeSite == null}" title="امکانات جانبی">
                                <f:attribute name="section" value="2"/>
                                <br/>
                                <h:panelGroup id="BaseOptions">
                                    <ui:repeat var="item"  value="#{invoiceController.currentSection.factorFieldCollection}">  
                                        <p>
                                            <span class="glyphicon glyphicon-ok"></span>
                                            <h:outputText value="#{item.title} (#{item.price})" />
                                            <span><i class="glyphicon glyphicon-question-sign"  data-toggle="tooltip" data-placement="top" title="#{factor.filterhtml(item.describtion)}"></i></span>
                                        </p>
                                    </ui:repeat>
                                </h:panelGroup>
                            </p:tab>
                            <p:tab disabled="#{invoiceController.typeSite == null}" title="امکانات مشترک">
                                <f:attribute name="section" value="3"/>
                                <br/>
                                <h:form id="ShareOptions" >
                                    <p:messages id="msg" />
                                    <p:selectManyCheckbox layout="grid" columns="1"  value="#{invoiceController.addSelectedfactorFieldList}">
                                        <f:selectItems  value="#{invoiceController.currentSection.factorFieldCollection}" var="myitem" itemValue="#{myitem.id}" itemLabel="#{myitem.title}"/>
                                        <p:ajax update="@form :priceSite"/>
                                    </p:selectManyCheckbox>
                                </h:form>
                            </p:tab>
                            <p:tab disabled="#{invoiceController.typeSite == null}" title="امکانات تخصصی">
                                <f:attribute name="section" value="4"/>
                                <br/>
                                <h:form id="Specialoptions">
                                    <p:messages id="msg" />
                                    <p:selectManyCheckbox layout="grid" columns="1" value="#{invoiceController.addSelectedfactorFieldList}">
                                        <f:selectItems value="#{invoiceController.typeSite.childFeildCollection}" var="SpecialItem" itemValue="#{SpecialItem.id}" itemLabel="#{SpecialItem.title}" /> 
                                        <p:ajax update="@form :priceSite"/>
                                    </p:selectManyCheckbox>
                                </h:form>
                            </p:tab>
                            <p:tab disabled="#{invoiceController.typeSite == null}" title="امکانات پیشنهادی">
                                <f:attribute name="section" value="5"/>
                                <br/>
                                <h:form id="Bid">
                                    <p:messages id="msg" />
                                    <p:selectManyCheckbox layout="grid" columns="1" value="#{invoiceController.addSelectedfactorFieldList}">
                                        <f:selectItems  value="#{invoiceController.currentSection.factorFieldCollection}" var="BidItem" itemValue="#{BidItem.id}" itemLabel="#{BidItem.title}" /> 
                                        <p:ajax update="@form :priceSite"/>
                                    </p:selectManyCheckbox>
                                </h:form>
                            </p:tab>
                            <p:tab disabled="#{invoiceController.typeSite == null}" title="اطلاعات شخصی">
                                <f:attribute name="section" value="6"/>
                                <br/>
                                <h:form id="form_invoice_send">
                                    <div class="col-lg-12" style="text-align: center">
                                        <p:selectOneButton id="personal" value="#{invoiceController.personal}">
                                            <f:selectItem itemValue="1"  itemLabel="حقیقی"/>
                                            <f:selectItem itemValue="2" itemLabel="حقوقی" />
                                            <p:ajax update="@form"/>
                                        </p:selectOneButton>
                                    </div>
                                    <c:if test="#{invoiceController.personal == 1}">
                                        <div class="col-lg-12">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label for="name" >نام</label>
                                                <h:inputText  id="name" class="form-control" value="#{invoiceController.order.name}"  maxlength="255" a:placeholder="Name" />
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label for="mobile" >موبایل</label>
                                                <h:inputText class="form-control" id="mobile" maxlength="255" value="#{invoiceController.order.mobile}" a:placeholder="Mobile" />
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label for="email" >ایمیل</label>
                                                <h:inputText class="form-control"  id="email" value="#{invoiceController.order.email}" maxlength="255" a:placeholder="Email" />
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label for="phone" >تلفن</label>
                                                <h:inputText class="form-control" id="phone" maxlength="255" value="#{invoiceController.order.phone}" a:placeholder="Phone" />
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <label for="desc" >توضیحات</label>
                                                <h:inputTextarea class="form-control" id="desc" value="#{invoiceController.order.desc}" a:placeholder="Describtion" />
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </c:if>
                                    <c:if test="#{invoiceController.personal == 2}">
                                        <div class="col-lg-12">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label for="name" >نام شرکت</label>
                                                <h:inputText  id="name" class="form-control" value="#{invoiceController.order.name}"  maxlength="255" a:placeholder="Name" />
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label for="email" >ایمیل شرکت</label>
                                                <h:inputText class="form-control"  id="email" value="#{invoiceController.order.email}" maxlength="255" a:placeholder="Email" />
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label for="phone" >تلفن شرکت</label>
                                                <h:inputText class="form-control" id="phone" maxlength="255" value="#{invoiceController.order.phone}" a:placeholder="Phone" />
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <label for="desc" >توضیحات</label>
                                                <h:inputTextarea class="form-control" id="desc" value="#{invoiceController.order.desc}" a:placeholder="Describtion" />
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </c:if>
                                    <div class="clearfix"></div>
                                    <div class="col-lg-12">
                                        <div class="mbr-buttons mbr-buttons--left btn-inverse">
                                            <h:commandButton action="#{invoiceController.insertInfoUser()}" style="margin-top: 30px" value="ثبت اطلاعات" class="mbr-buttons__btn btn buttons_special btn-danger">
                                                <f:ajax render="@form" execute="form_invoice_send"> </f:ajax> 
                                            </h:commandButton>    
                                        </div>
                                        <p:messages style="margin-top: 20px" id="messagesshow"/>
                                    </div>
                                </h:form>
                                <div class="clearfix"></div>
                            </p:tab>
                        </p:tabView>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="direction: rtl;text-align: center">
                        <div class="panel panel-primary">
                            <div class="panel-heading" >
                                پیش فاکتور
                            </div>
                            <div class="panel-body" >
                                <p>هزینه وب سایت</p>
                                <h:outputText style="color: red" value="#{invoiceController.price}" id="priceSite"/>
                                <hr style="border: solid 1px;box-shadow: 0 0 1px #166056;border-top: solid 0px;"/>
                                <p>جمع کل</p>
                                <h:outputText value="#{factor.allPrice}" style="color: red" id="allPriceSite"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                .btn-primary{
                    padding: 8px !important;
                    margin-left: -3px !important;
                    border-left: solid 1px !important;
                }
                ul{
                    list-style: none!important;
                }
                ul > li{
                    direction: rtl;text-align: right
                }

                #tabview ul li{
                    border: 0;
                    background: #4c6972;
                    border-radius: 0px;
                }
                #tabview ul li a{
                    color: white;
                }
                
                .ui-tabs-selected,.ui-state-active{
                    background: #166056 !important;
                    color: white !important;
                }
            </style>

        </ui:define>
    </ui:composition>
</html>