<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">   
    <h:head>
        <!-- Site made with Mobirise Website Builder v2.11.1, https://mobirise.com -->
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="generator" content="Mobirise v2.11.1, mobirise.com"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="shortcut icon" href="../resources/images/favicon.ico" type="image/x-icon"/>
        <meta name="description" content=""/>

        <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400&amp;subset=cyrillic,latin,greek,vietnamese"/>-->
        <link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../resources/animate.css/animate.min.css"/>
        <link rel="stylesheet" href="../resources/socicon/css/socicon.min.css"/>
        <link rel="stylesheet" href="../resources/mobirise/css/style.css"/>
        <link rel="stylesheet" href="../resources/mobirise-gallery/style.css"/>
        <link rel="stylesheet" href="../resources/mobirise-slider/style.css"/>
        <link rel="stylesheet" href="../resources/mobirise/css/mbr-additional.css" type="text/css"/>
        <link rel="stylesheet" href="../resources/developer.css"/>
    </h:head>
    <h:body>
        <section class="mbr-navbar mbr-navbar--freeze mbr-navbar--absolute mbr-navbar--transparent mbr-navbar--sticky mbr-navbar--auto-collapse" id="menu-4" style="background-color: rgba(0,0,0,0.5);">
            <div class="mbr-navbar__section mbr-section"  style="background-color:rgba(70,95,116,0.7)">
                <div class="mbr-section__container container">
                    <div class="mbr-navbar__container">
                        <div class="mbr-navbar__column mbr-navbar__column--s mbr-navbar__brand pull-left">
                            <span class="mbr-navbar__brand-link mbr-brand mbr-brand--inline">
                                <span class="mbr-brand__logo "><a href="https://mobirise.com"><img src="../resources/images/Logo.png" class="mbr-navbar__brand-img mbr-brand__img" alt="Mobirise"/></a></span>
                                <span class="mbr-brand__name "><a class="mbr-brand__name text-white" href="https://mobirise.com">GOMANEH</a></span>
                            </span>
                        </div>
                        <div class="mbr-navbar__hamburger mbr-hamburger"><span class="mbr-hamburger__line"></span></div>
                        <div class="mbr-navbar__column mbr-navbar__menu">
                            <h:form>
                                <nav class="mbr-navbar__menu-box mbr-navbar__menu-box--inline-right">
                                    <div class="mbr-navbar__column">
                                        <ul class="mbr-navbar__items mbr-navbar__items--right float-left mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-decorator mbr-buttons--active mbr-buttons--only-links">
                                            <li class="mbr-navbar__item testd">
                                                <h:link  styleClass="mbr-buttons__link btn text-white" outcome="invoice.xhtml" >پیش فاکتور</h:link>
                                            </li>
                                            <li class="mbr-navbar__item testd">
                                                <h:commandLink styleClass="mbr-buttons__link btn text-white" action="PortFolio.xhtml" >نمونه کارها</h:commandLink>
                                            </li>
                                            <li class="mbr-navbar__item testd">
                                                <a class="mbr-buttons__link btn text-white" href="#"  >مقاله ها</a>
                                                <ul class="dropdown-test-d">
                                                    <p style="padding-top: 10px;padding-right: 10px;color: white;">گروه بندی مقالات</p>
                                                    <hr/>
                                                    <c:forEach var="item" items="#{content.message}">
                                                        <li>
                                                            <h:commandLink value="#{item.title}" style="display: block" styleClass="btn btn-primary ContentLink" action="#{content.showContent()}">
                                                                <f:param name="ctgId" value="#{item.id}"/>
                                                                <span class="badge">#{item.contentCollection.size()}</span>
                                                            </h:commandLink>
                                                        </li>
                                                    </c:forEach>                                    
                                                </ul>
                                            </li>
                                            <li class="mbr-navbar__item"><h:commandLink styleClass="mbr-buttons__link btn text-white" action="seo.xhtml"><b>سئو</b></h:commandLink></li>
                                            <li class="mbr-navbar__item"><h:commandLink styleClass="mbr-buttons__link btn text-white" action="index.xhtml" ><b>صفحه اصلی </b></h:commandLink></li>
                                        </ul>                            
                                    </div>
                                </nav>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <p:layoutUnit position="center">
            <ui:insert name="body"/>
        </p:layoutUnit>


        <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background" id="social-buttons2-16" style="background-image: url(../resources/images/webdesign-blog-1340x736-52.jpg);">
            <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(34, 34, 34);"></div>

            <div class="mbr-section__container container">
                <div class="mbr-header mbr-header--inline row" style="padding-top: 40.8px; padding-bottom: 40.8px;">
                    <div class="col-sm-4">
                        <h3 class="mbr-header__text">FOLLOW US</h3>
                    </div>
                    <div class="mbr-social-icons mbr-social-icons--style-1 col-sm-8"><a class="mbr-social-icons__icon socicon-bg-facebook" title="Facebook" target="_blank" href="https://www.facebook.com/pages/Mobirise/1616226671953247"><i class="socicon socicon-facebook"></i></a> <a class="mbr-social-icons__icon socicon-bg-googleplus" title="Google+" target="_blank" href="https://plus.google.com/u/0/+Mobirise/posts"><i class="socicon socicon-googleplus"></i></a> <a class="mbr-social-icons__icon socicon-bg-youtube" title="YouTube" target="_blank" href="http://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw"><i class="socicon socicon-youtube"></i></a> <a class="mbr-social-icons__icon socicon-bg-instagram" title="Instagram" target="_blank" href="https://instagram.com/mobirise/"><i class="socicon socicon-instagram"></i></a> <a class="mbr-social-icons__icon socicon-bg-github" title="GitHub" target="_blank" href="https://github.com/Mobirise"><i class="socicon socicon-github"></i></a> <a class="mbr-social-icons__icon socicon-bg-linkedin" title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/mobirise"><i class="socicon socicon-linkedin"></i></a> </div>
                </div>
            </div>
        </section>

        <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="contacts3-9" style="background-color: rgb(60, 60, 60);">

            <div class="mbr-section__container container">
                <div class="mbr-contacts mbr-contacts--wysiwyg row" style="padding-top: 45px; padding-bottom: 45px;direction: rtl">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="mbr-contacts__text"><strong>آدرس</strong><br/>
                                    ایران - تهران-<span>خیابان خردمند جنوبی</span><br/>
                                    خیابان آذرشهر - پلاک ۱۸ - طبقه ۳ - واحد ۷<br/><br/>
                                    <strong>ارتباط با ما</strong><br/>
                                    Email: info@gomaneh.org<br/>
                                    Phone: +98 (21) 88 49 1228<br/>
                                    Fax: +98 (21) 88 49 1228</p>
                            </div>
                            <div class="col-sm-6"><p class="mbr-contacts__text"><strong>لینک ها</strong></p><ul class="mbr-contacts__list"><li><a class="mbr-contacts__link text-gray" href="#">DEVELOPER</a></li><li><a class="mbr-contacts__link text-gray" href="#">LMS</a></li><li><a class="mbr-contacts__link text-gray" href="#">Ribon Company</a></li></ul></div>
                        </div>
                    </div>
                    <div class="mbr-contacts__column col-sm-4">
                        <h:form id="form_contact_send">
                            <div class="form-group">
                                <h:inputText class="form-control input-sm input-inverse" value="#{Contacts.contact.name}" a:placeholder="Name"/>
                            </div>

                            <div class="form-group">
                                <h:inputText class="form-control input-sm input-inverse" value="#{Contacts.contact.phone}" a:placeholder="Mobile*"/>
                            </div>

                            <div class="form-group">
                                <h:inputText class="form-control input-sm input-inverse" value="#{Contacts.contact.email}"  a:placeholder="Email*"/>
                            </div>

                            <div class="form-group">
                                <h:inputTextarea class="form-control input-sm input-inverse" value="#{Contacts.contact.message}" rows="4" a:placeholder="Message" />
                            </div>
                            <div class="mbr-buttons mbr-buttons--right btn-inverse">
                                <h:commandButton action="#{Contacts.insert()}" value="CONTACT US" class="mbr-buttons__btn btn buttons_special btn-danger">
                                    <f:ajax render="@form" execute="form_contact_send"> </f:ajax> 
                                </h:commandButton>    
                            </div>

                            <p:messages style="margin-top: 20px" id="messagesshow"/>
                        </h:form>
                    </div>
                </div>
            </div>
        </section>

        <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="contacts1-8" style="background-color: rgb(60, 60, 60);">

            <div class="mbr-section__container container">
                <div class="mbr-contacts mbr-contacts--wysiwyg row" style="padding-top: 45px; padding-bottom: 45px;">
                    <div class="col-lg-12 footer">
                        <div style="text-align: center;color: #2EFFE3;text-shadow: 0 0 15px;">
                            بیشتر بدانیم
                            <hr style="box-shadow: 0 0 5px #166056;"/>
                        </div>
                        <div class="list-show" style="direction: rtl">
                            <ul class="list">
                                <h:form>
                                    <c:forEach var="item" items="#{mainController.getServices()}">
                                        <li>
                                            <h:commandLink value="#{item.title}" action="#{NavigationPage.showServices()}">
                                                <f:param name="serviceId" value="#{item.id}"/>
                                            </h:commandLink>
                                        </li>
                                    </c:forEach>
                                </h:form>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="mbr-section mbr-section--relative mbr-section--fixed-size" id="footer1-10" style="background-color: rgb(68, 68, 68);">

            <div class="mbr-section__container container">
                <div class="mbr-footer mbr-footer--wysiwyg row" style="padding-top: 36.900000000000006px; padding-bottom: 36.900000000000006px;">
                    <div class="col-sm-12">
                        <p class="mbr-footer__copyright">Copyright (c) 2015 Company Name. <a class="mbr-footer__link text-gray" href="https://mobirise.com/">Terms of Use</a>  | <a class="mbr-footer__link text-gray" href="https://mobirise.com/">Privacy Policy</a></p>
                    </div>
                </div>
            </div>
        </footer>            
        <script src="../resources/web/assets/jquery/jquery.min.js"></script>
        <script src="../resources/bootstrap/js/bootstrap.min.js"></script>
        <script src="../resources/smooth-scroll/SmoothScroll.js"></script>
        <!--<script src="../resources/jarallax/jarallax.js"></script>-->
        <script src="../resources/masonry/masonry.pkgd.min.js"></script>
        <script src="../resources/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="../resources/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script>

        <script src="../resources/mobirise/js/script.js"></script>
        <script src="../resources/mobirise-gallery/script.js"></script>       
        <script>
            $('#myTabs a').click(function (e) {
                e.preventDefault();
                e.stopImmediatePropagation();
                $(this).tab('show');
            });
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
        </script>
    </h:body>
</html>