<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/Client/layouts.xhtml">
        <ui:define name="body">

            <section class="mbr-gallery mbr-section mbr-section--no-padding" id="gallery1-10" style="margin-top: 90px;background-color: rgb(239, 239, 239);">
                <div class="col-lg-12 col-xs-12" style=" background-color: rgb(239, 239, 239);">
                    <h2 class="pull-right">نمونه کار ها</h2>
                </div>
                <!-- Gallery -->
                <div class="col-lg-12 col-xs-12 " style=" background-color: rgb(239, 239, 239);">
                    <div class="container mbr-gallery-layout-default" style="padding-top: 31px; padding-bottom: 31px;">
                        <div>
                            <div class="row mbr-gallery-row-special" style="min-height: 266px !important;height: auto !important;">
                                <h:form>
                                    <p:dataScroller value="#{mainController.getAllPortFolio()}" var="items" chunkSize="1">
                                        <div class="row">
                                            <ui:repeat var="item" value="#{items}">    
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mbr-gallery-item">
                                                    <figcaption class="mbr-figure__caption mbr-figure__caption--std-grid">
                                                        <div class="mbr-caption-background"></div>
                                                        <small class="mbr-figure__caption-small"><span class="pull-right">#{item.title}</span> <span class="pull-left">#{item.percent}%</span></small>
                                                    </figcaption>

                                                    <h:commandLink action="#{NavigationPage.showPage()}" >
                                                        <f:param name="pageId" value="#{item.id}" />
                                                        <!--<c:if test="#{item.img[0] != null}">-->
                                                        <img alt="" src="/DeveloperGomaneh/images/portfolio/#{item.img[0]}" width="363px" height="236px"/>
                                                        <!--</c:if>-->
                                                        <!--<p>test</p>-->
                                                        <span class="icon glyphicon glyphicon-zoom-in"></span>
                                                    </h:commandLink>
                                                </div>
                                            </ui:repeat>
                                        </div>
                                    </p:dataScroller>
                                </h:form>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
        </ui:define>
    </ui:composition>
</html>