<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/Client/layouts.xhtml">
        <ui:define name="body">

            <section class="engine"><a rel="external" href="https://mobirise.com">easy web design software</a></section><section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height" id="header1-20" style="background-color: #EDF2F8">
                <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left mbr-after-navbar">
                    <div class="mbr-box__container mbr-section__container container">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
                            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left">
                                    <div class="mbr-hero animated fadeInUp" style="direction: rtl">
                                        <h1 class="mbr-hero__text" style="text-align:  right;color: #4F4F4F">بهینه سازی سایت</h1>
                                        <p class="mbr-hero__subtext" style="text-align:  right;color: #777;direction: rtl">سئو سایت
                                            SEO یا سئو به معنی بهینه سازی سایت در موتور های جستجو (Search Engine Optimization) و امروزه یکی از مراحل مهم و پر اهمیت در طراحی وب سایت می باشد . سئو سایت در معنای پیاده سازی الگوریتم ها و استانداردهای گوگل می باشد که در نتیجه عمل قرارگیری در صفحه اول گوگل به واسط کلمات کلیدی خاص و عبارت بهینه سازی وب سایت را حاصل می نماید.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 hidden-xs pull-left">
                            <img src="../resources/images/4.png" width="550px" height="400px" class="img img-responsive hidden-sm hidden-sm"/> 
                        </div>
                    </div>
                    <div class="mbr-arrow mbr-arrow--floating text-center">
                        <div class="mbr-section__container container">
                            <a class="mbr-arrow__link" href="#features1-23"><i class="glyphicon glyphicon-menu-down"></i></a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="features1-23" style="background-color: rgb(255, 255, 255);">


                <div class="mbr-section__container container mbr-section__container--std-top-padding" style="padding-top: 93px;">
                    <div class="mbr-section__row row">
                        <div class="mbr-section__col col-xs-12 col-lg-4 col-md-4 col-sm-6">
                            <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                                <figure class="mbr-figure"><img src="../resources/images/seo11.png" class="mbr-figure__img"/></figure>
                            </div>
                            <div class="mbr-section__container mbr-section__container--middle">
                                <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                                    <h3 class="mbr-header__text">اعلام نتیجه</h3>
                                </div>
                            </div>

                            <div class="clearfix visible-sm-block"></div>
                        </div>
                        <div class="mbr-section__col col-xs-12 col-lg-4 col-md-4 col-sm-6">
                            <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                                <figure class="mbr-figure"><img src="../resources/images/seo12.png" class="mbr-figure__img"/></figure>
                            </div>
                            <div class="mbr-section__container mbr-section__container--middle">
                                <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                                    <h3 class="mbr-header__text">بررسی سایت</h3>
                                </div>
                            </div>
                        </div>
                        <div class="mbr-section__col col-xs-12 col-lg-4 col-md-4 col-sm-6">
                            <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                                <figure class="mbr-figure"><img src="../resources/images/seo10.png" class="mbr-figure__img"/></figure>
                            </div>
                            <div class="mbr-section__container mbr-section__container--middle">
                                <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                                    <h3 class="mbr-header__text" style="direction: rtl">تماس با مشاور (02155956585)</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="mbr-section mbr-section--relative" id="msg-box4-22" style="background-color: rgb(237, 242, 248)">

                <div class="mbr-section__container mbr-section__container--isolated container" style="padding-top: 93px; padding-bottom: 93px;">
                    <div class="row">
                        <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                            <div class="mbr-box__magnet mbr-box__magnet--top-right mbr-section__left col-sm-6">
                                <figure class="mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width"><img src="../resources/images/seo2-600x297-61.png" class="mbr-figure__img"/></figure>
                            </div>
                            <div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-6 mbr-section__right">
                                <div class="mbr-section__container mbr-section__container--middle">
                                    <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
                                        <h3 class="mbr-header__text" style=" direction: rtl;text-align: right;">سئو وب سایت</h3>
                                    </div>
                                </div>
                                <div class="mbr-section__container mbr-section__container--middle">
                                    <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg">
                                        <p style="direction: rtl;text-align: right;">
                                            Search Engine Optimization (بهینه سازی موتور های جستجو ) عبارت است از مجموعه تکنیک ها و مهارت هایی که به یک سایت اجازه می دهد ترافیک و بازدید کننده های بیشتری از موتور های جستجو نظیر Google ، Yahoo و یا Microsoft داشته باشد . 
                                            سئو را می توان به دو محدوده اصلی تقسیم نمود : 
                                            ۱- off-page سئو: کارهایی که به طور مستقل از طراحی وب سایت شما انجام می گیرد . 
                                            ۲ – on-page سئو: کارهایی که طراحب سایت شما را تغییر می دهد تا رتبه بهتری را در موتور های جستجو بگیرید . 
                                            این آموزش هر دوی این محدوده ها را با جزئیات در بر می گیرد . 
                                            به یاد داشته باشید که یک طراحی سایت به طور کامل در موتور های جستجو بهینه سازی سایت انجام نمی شود مگر این که شما هر دو بخش off-page سئو و on-page سئو را به کار بگیرید .    
                                        </p></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="msg-box3-28" style="background:#46CEE8 url(../resources/images/bg.jpg) no-repeat left center;">

                <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 37px;">
                    <div class="mbr-header mbr-header--wysiwyg row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h3 class="mbr-header__text" style="direction: rtl;text-align: right">در کمتر از 10 دقیقه صفحه اول گوگل باشید</h3>

                        </div>
                    </div>
                </div>
                <div class="mbr-section__container container mbr-section__container--middle">
                    <div class="row">
                        <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2"><p style="direction: rtl;text-align: right">تبلیغات به اصطلاح Google Adwords به نوعی از تبلیغات گفته میشود که با پرداخت دلاری میتوانیم شما را در کمتر از 10 دقیقه در صفحه اول گوگل نمایش دهیم. این تبلیغات به ازای هر کلیک محاسبه خواهد شد. برای مشاوره می توانید با شماره های شرکت تماس حاصل نمایید.</p></div>
                    </div>
                </div>
            </section>

            <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="pricing-table1-26" style="background-color: rgb(239, 239, 239);">

                <div class="mbr-section__container mbr-section__container--std-top-padding container" style="padding-top: 93px; margin-bottom: 0px;">
                    <div class="row">
                        <div class="mbr-plan col-xs-12 mbr-plan--first col-md-3 col-sm-6">
                            <div class="mbr-plan__box">
                                <div class="mbr-plan__header">
                                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                                        <h3 class="mbr-header__text">پلن ۱</h3>
                                    </div>
                                </div>
                                <div class="mbr-plan__number">
                                    <div class="mbr-number mbr-number--price">
                                        <div class="mbr-number__num">
                                            <div class="mbr-number__group">
                                                <sup class="mbr-number__left">$</sup><span class="mbr-number__value">50</span>
                                            </div>
                                        </div>
                                        <div class="mbr-number__caption " style="font-weight: bold">پلن ۱</div>
                                    </div>
                                </div>
                                <div class="mbr-plan__details"><ul style="direction: rtl">
                                        <li class="head-seo one">30 هزار تومان هزینه راه اندازی</li>
                                        <li><strong>0٪</strong> تخفیف اولیه</li>
                                        <li>نمایش رایگان می باشد</li>
                                        <li> تبلیغات موبایل  <strong>ندارد</strong></li>
                                        <li>گوگل فارسی دارد</li>
                                        <li>1 سنت هزینه هر کلیک</li>
                                        <li>285,000 تومان هزنیه کل</li>
                                    </ul></div>
                                <div class="mbr-plan__buttons">
                                    <div class="mbr-buttons mbr-buttons--center"><a href="#" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default">تماس بگیرید</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="mbr-plan col-xs-12 mbr-plan--success col-md-3 col-sm-6">
                            <div class="mbr-plan__box">
                                <div class="mbr-plan__header">
                                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                                        <h3 class="mbr-header__text">پلن ۲</h3>
                                    </div>
                                </div>
                                <div class="mbr-plan__number">
                                    <div class="mbr-number mbr-number--price">
                                        <div class="mbr-number__num">
                                            <div class="mbr-number__group">
                                                <sup class="mbr-number__left">$</sup><span class="mbr-number__value">100</span>
                                            </div>
                                        </div>
                                        <div class="mbr-number__caption">پلن ۲</div>
                                    </div>
                                </div>
                                <div class="mbr-plan__details"><ul>
                                        <li class="head-seo tow">30 هزار تومان هزینه راه اندازی</li>
                                        <li>0% تخفیف اولیه</li>
                                        <li>نمایش رایگان می باشد</li>
                                        <li>تبلیغات موبایل ندارد</li>
                                        <li>گوگل فارسی دارد</li>
                                        <li>1 سنت هزینه هر کلیک</li>
                                        <li>392,000 تومان هزنیه کل</li>
                                    </ul></div>
                                <div class="mbr-plan__buttons">
                                    <div class="mbr-buttons mbr-buttons--center"><a href="#" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default"> تماس بگیرید</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="mbr-plan col-xs-12 mbr-plan--danger mbr-plan--favorite col-md-3 col-sm-6">
                            <div class="mbr-plan__box">
                                <div class="mbr-plan__header">
                                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                                        <h3 class="mbr-header__text">پلن ۳</h3>
                                    </div>
                                </div>
                                <div class="mbr-plan__number">
                                    <div class="mbr-number mbr-number--price">
                                        <div class="mbr-number__num">
                                            <div class="mbr-number__group">
                                                <sup class="mbr-number__left">$</sup><span class="mbr-number__value">200</span>
                                            </div>
                                        </div>
                                        <div class="mbr-number__caption">پلن ۳</div>
                                    </div>
                                </div>
                                <div class="mbr-plan__details"><ul>
                                        <li class="head-seo three">30 هزار تومان هزینه راه اندازی</li>
                                        <li>0% تخفیف اولیه</li>
                                        <li>نمایش رایگان می باشد</li>
                                        <li>تبلیغات موبایل دارد</li>
                                        <li>گوگل فارسی دارد</li>
                                        <li>1 سنت هزینه هر کلیک</li>
                                        <li>813,000 تومان هزنیه کل</li>
                                    </ul></div>
                                <div class="mbr-plan__buttons">
                                    <div class="mbr-buttons mbr-buttons--center"><a href="#" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default">تماس بگیرید</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="mbr-plan col-xs-12 mbr-plan--warning mbr-plan--last col-md-3 col-sm-6">
                            <div class="mbr-plan__box">
                                <div class="mbr-plan__header">
                                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                                        <h3 class="mbr-header__text">پلن ۴</h3>
                                    </div>
                                </div>
                                <div class="mbr-plan__number">
                                    <div class="mbr-number mbr-number--price">
                                        <div class="mbr-number__num">
                                            <div class="mbr-number__group">
                                                <sup class="mbr-number__left">$</sup><span class="mbr-number__value">500</span>
                                            </div>
                                        </div>
                                        <div class="mbr-number__caption">پلن ۴</div>
                                    </div>
                                </div>
                                <div class="mbr-plan__details"><ul>
                                        <li class="head-seo four">هزینه راه اندازی رایگان</li>
                                        <li>5% تخفیف اولیه</li>
                                        <li>نمایش رایگان می باشد</li>
                                        <li>تبلیغات موبایل دارد</li>
                                        <li>گوگل فارسی دارد</li>
                                        <li>1 سنت هزینه هر کلیک</li>
                                        <li>1,750,000 تومان هزنیه کل</li>
                                    </ul></div>
                                <div class="mbr-plan__buttons">
                                    <div class="mbr-buttons mbr-buttons--center"><a href="#" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default">تماس بگیرید</a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </ui:define>
    </ui:composition>

</html>