<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/Client/layouts.xhtml">
        <ui:define name="body">

            <div class="col-lg-12" style="margin-top: 120px;padding-bottom: 20px">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="col-lg-12 headcontent">
                            <h1 style="text-align: center"><span><p class="head-befor hidden-sm hidden-xs"></p></span> <span>مقاله ها</span> <span><p class="head-after hidden-sm hidden-xs"></p></span></h1>
                        </div>
                        <div class="col-lg-12">
                            <section class="mbr-section mbr-section--relative" id="msg-box4-29">

                                <div class="mbr-section__container mbr-section__container--isolated" style="padding-top: 31px; padding-bottom: 31px;">
                                    <div class="row">
                                        <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                                            <h:form>
                                                <p:dataScroller value="#{content.infoContent()}" var="item" chunkSize="12">
                                                    <div class="col-lg-6" >
                                                        <div class="panel panel-primary">
                                                            <div class="panel-heading" style="direction: rtl;text-align: right">
                                                                #{item.title}
                                                            </div>
                                                            <div class="panel-body" style="direction: rtl;text-align: right">
                                                                #{item.content.length() gt 43 ? item.content.substring(0,41).concat('...') : item.content}
                                                            </div>
                                                            <div class="panel-footer">
                                                                <h:link  styleClass="btn btn-default" outcome="#{content.showInfoContent()}" value=" اطلاعات بیشتر "> 
                                                                    <f:param name="contentShowId" value="#{item.id}" />
                                                                </h:link>
                                                            </div>
                                                        </div>
                                                        <br/>
                                                    </div>
                                                </p:dataScroller>
                                            </h:form>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
                        <div class="col-lg-12 headcontent" style="padding-left: 90px;">
                            <h2 style="text-align: center"><span><p class="head-befor hidden-sm hidden-xs"></p></span> <span> نمونه کارها</span> <span><p class="head-after hidden-sm hidden-xs"></p></span></h2>
                        </div>
                        <div class="col-lg-12" style="    margin-top: 43px;">
                            <section class="mbr-gallery mbr-section mbr-section--no-padding" id="gallery1-10" style="background-color: rgb(239, 239, 239);">
                                <!-- Gallery -->
                                <div>
                                    <div class="row mbr-gallery-row">
                                        <h:form>
                                            <c:forEach var="item" items="#{mainController.portFolio}">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mbr-gallery-item">
                                                    <figcaption class="mbr-figure__caption mbr-figure__caption--std-grid">
                                                        <div class="mbr-caption-background"></div>
                                                        <small class="mbr-figure__caption-small"><span class="pull-right">#{item.title}</span> <span class="pull-left">#{item.percent}%</span></small>
                                                    </figcaption>

                                                    <h:commandLink action="#{NavigationPage.showPage()}" >
                                                        <f:param name="pageId" value="#{item.id}" />
                                                        <c:if test="#{item.img[0] != null}">
                                                            <img alt="" src="/DeveloperGomaneh/images/portfolio/#{item.img[0]}" width="363px" height="236px"/>
                                                        </c:if>
                                                        <span class="icon glyphicon glyphicon-zoom-in"></span>
                                                    </h:commandLink>
                                                </div>
                                            </c:forEach>
                                        </h:form>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <style>
                                    .ui-datascroller-content {
                                        background-color: #FFFFFF !important;
                                    }
                                    .ui-widget-content {
                                        border: 0px solid #a8a8a8 !important;
                                    }
                                </style>
                            </section>
                        </div>
                    </div>                    
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>    