<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/Client/layouts.xhtml">
        <ui:define name="body">
            
            <section class="mbr-section mbr-section--relative mbr-after-navbar" id="msg-box5-27" style="background-color: rgb(15, 125, 114);">

                <div class="mbr-section__container mbr-section__container--isolated container" style="padding-top: 31px; padding-bottom: 31px;">
                    <div class="row">
                        <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                            <div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-lg-12 mbr-section__right">
                                <div class="mbr-section__container mbr-section__container--middle">
                                    <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg" style="text-align: right;direction: rtl;color: white">
                                        <h3 class="mbr-header__text">#{content.InfoContentSelect().title}</h3>
                                    </div>
                                </div>
                                <div class="mbr-section__container mbr-section__container--middle">
                                    <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg" style="text-align: right;direction: rtl;color: white"><h:outputText value="#{content.InfoContentSelect().content}" escape="false"/></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </ui:define>
    </ui:composition>
</html>