<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/Client/layouts.xhtml">
        <ui:define name="body">
            <c:set var="PortFolio" value="#{NavigationPage.portfolio}"></c:set>
            <section class="engine"><a rel="external" href="https://mobirise.com">windows website builder</a></section><section class="mbr-slider mbr-section mbr-section--no-padding carousel slide" data-ride="carousel" data-wrap="true" data-interval="5000" id="slider-13" style="background-color: rgb(255, 255, 255);">
                <div class="mbr-section__container">
                    <div>
                        <ol class="carousel-indicators">
                            <c:forEach var="item" items="#{PortFolio.img}" varStatus="myIndex">
                                <li data-app-prevent-settings="" data-target="#slider-#{myIndex.index}" class="active" data-slide-to="#{myIndex.index}"></li>
                            </c:forEach>
                        </ol>

                        <div class="carousel-inner" role="listbox">
                            <c:forEach var="item" items="#{PortFolio.img}" varStatus="myIndex">
                                <c:if test="#{myIndex.index == 0}">
                                    <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height active" style="background-image: url(/DeveloperGomaneh/images/portfolio/#{item});">
                                        <div class="mbr-box__magnet mbr-box__magnet--center-right mbr-box__magnet--sm-padding mbr-after-navbar">

                                            <div class=" container">

                                                <div class="row">
                                                    <div class=" col-md-6 col-md-offset-5">  

                                                        <div class="mbr-hero">
                                                            <h1 class="mbr-hero__text">#{title}</h1>

                                                            <p class="mbr-hero__subtext">#{describtion}</p>
                                                        </div>
                                                        <div class="mbr-buttons btn-inverse mbr-buttons--left mbr-buttons--right"> <a class="mbr-buttons__btn btn btn-lg btn-default" href="page1.html#msg-box4-14">FOR MAC</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </c:if>
                                <c:if test="#{myIndex.index != 0}">
                                    <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height" style="background-image: url(/DeveloperGomaneh/images/portfolio/#{item});">
                                        <div class="mbr-box__magnet mbr-box__magnet--center-right mbr-box__magnet--sm-padding mbr-after-navbar">

                                            <div class=" container">

                                                <div class="row">
                                                    <div class=" col-md-6 col-md-offset-5">  

                                                        <div class="mbr-hero">
                                                            <h1 class="mbr-hero__text">Slide 1</h1>

                                                            <p class="mbr-hero__subtext">Develop fully responsive, mobile-optimized websites that look amazing on any devices and browsers. Preview how your website will appear on phones, tablets and desktops directly in the visual editor.</p>
                                                        </div>
                                                        <div class="mbr-buttons btn-inverse mbr-buttons--left mbr-buttons--right"> <a class="mbr-buttons__btn btn btn-lg btn-default" href="page1.html#msg-box4-14">FOR MAC</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </c:if>

                            </c:forEach>
                        </div>
                        <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider-13">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider-13">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </section>

            <section class="mbr-section mbr-section--relative" id="msg-box4-14" style="background-color: rgb(0, 168, 133);">

                <div class="mbr-section__container mbr-section__container--isolated container" style="padding-top: 93px; padding-bottom: 93px;">
                    <div class="row">
                        <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                            <div class="mbr-box__magnet mbr-box__magnet--top-right mbr-section__left col-sm-6">
                                <style type="text/css">
                                    .special{
                                        background-color: #DCD9D9;
                                        height: 400px;
                                        direction: rtl;
                                        box-shadow: 0 0 5px;
                                        background-image: url(/DeveloperGomaneh/images/portfolio/#{PortFolio.img[0]});
                                        background-size: 100%;
                                    }
                                </style>
                                <figure class="special mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width">
                                    <h3 class="h3"> 
                                        <p class="p">مشخصات وب سایت</p>
                                        <p class="bo">
                                            <span> آدرس وب سایت  </span> : <span>#{PortFolio.url}</span><br/>
                                            <span>  درصد پیشرفت </span> : <span> #{PortFolio.percent}%</span><br/>
                                            <span>  تاریخ اتمام </span> : <span><h:outputFormat value="#{PortFolio.finished}" ><f:convertDateTime pattern="Y-m-d"></f:convertDateTime></h:outputFormat></span><br/>
                                            <span>  تعداد نمایش </span> : <span>#{PortFolio.visit}</span> <br/>
                                        </p>
                                    </h3>
                                </figure>
                            </div>
                            <div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-6 mbr-section__right">
                                <div class="mbr-section__container mbr-section__container--middle">
                                    <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
                                        <h3 class="mbr-header__text">"#{PortFolio.title}</h3>

                                    </div>
                                </div>
                                <div class="mbr-section__container mbr-section__container--middle">
                                    <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg"><p>"#{PortFolio.describtion}</p></div>
                                </div>
                                <div class="mbr-section__container">
                                    <div class="mbr-buttons mbr-buttons--auto-align btn-inverse"><a class="mbr-buttons__btn btn btn-lg btn-default" href="#">Gomaneh</a></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section class="mbr-gallery mbr-section mbr-section--no-padding" id="gallery1-15" style="background-color: rgb(239, 239, 239);">
                <!-- Gallery -->
                <div class=" container mbr-gallery-layout-default" style="padding-top: 31px; padding-bottom: 31px;">
                    <div>
                        <div class="row mbr-gallery-row">
                            <h:form>
                                <c:forEach var="item" items="#{mainController.portFolio}">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mbr-gallery-item">
                                        <figcaption class="mbr-figure__caption mbr-figure__caption--std-grid">
                                            <div class="mbr-caption-background"></div>
                                            <small class="mbr-figure__caption-small"><span class="pull-right">#{item.title}</span> <span class="pull-left">#{item.percent}%</span></small>
                                        </figcaption>

                                        <h:commandLink action="#{NavigationPage.showPage()}">
                                            <f:param name="pageId" value="#{item.id}" />
                                            <img alt="" src="/DeveloperGomaneh/images/portfolio/#{item.img[0]}" width="363px" height="236px"/>
                                            <span class="icon glyphicon glyphicon-zoom-in"></span>
                                        </h:commandLink>
                                    </div>
                                </c:forEach>
                            </h:form>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- Lightbox -->
                <div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery1-15">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <ol class="carousel-indicators">
                                    <li data-app-prevent-settings="" data-target="#lb-gallery1-15" data-slide-to="0"></li><li data-app-prevent-settings="" data-target="#lb-gallery1-15" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#lb-gallery1-15" data-slide-to="2"></li><li data-app-prevent-settings="" data-target="#lb-gallery1-15" data-slide-to="3"></li><li data-app-prevent-settings="" data-target="#lb-gallery1-15" data-slide-to="4"></li><li data-app-prevent-settings="" data-target="#lb-gallery1-15" data-slide-to="5"></li><li data-app-prevent-settings="" data-target="#lb-gallery1-15" class=" active" data-slide-to="6"></li><li data-app-prevent-settings="" data-target="#lb-gallery1-15" data-slide-to="7"></li>
                                </ol>
                                <div class="carousel-inner">
                                </div>
                                <a class="left carousel-control" role="button" data-slide="prev" href="#lb-gallery1-15">
                                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" role="button" data-slide="next" href="#lb-gallery1-15">
                                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>

                                <a class="close" href="#" role="button" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    <span class="sr-only">Close</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </ui:define>
    </ui:composition>


</html>