<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle3.ListPortfolioTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="PortfolioListForm">
                <p:panel header="#{bundle3.ListPortfolioTitle}">
                    <p:dataTable id="datalist" value="#{portfolioController.items}" var="item"
                                 selectionMode="single" selection="#{portfolioController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 widgetVar="portfolioTable"
                                 >
                        <f:facet name="header">
                            <p:panelGrid columns="2">
                                <p:outputPanel>
                                    <h:outputText value="جستجو در تمام فیلدها:" />
                                    <p:inputText id="globalFilter" onkeyup="PF('portfolioTable').filter()" style="width:150px" placeholder="جستجو..."/>
                                </p:outputPanel>
                                <p:outputPanel>
                                    <p:commandButton id="toggler" type="button" value="انتخاب ستون ها" style="float:left" icon="ui-icon-calculator" />
                                    <p:columnToggler datasource="datalist" trigger="toggler" /> 
                                </p:outputPanel>
                            </p:panelGrid>
                        </f:facet>
                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListPortfolioTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column sortBy="#{item.title}" filterBy="#{item.title}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListPortfolioTitle_title}"/>
                            </f:facet>
                            <h:outputText value="#{item.title}"/>
                        </p:column>
                        <p:column sortBy="#{item.describtion}" filterBy="#{item.describtion}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListPortfolioTitle_describtion}"/>
                            </f:facet>
                            <h:outputText value="#{item.describtion}"/>
                        </p:column>
                        <p:column sortBy="#{item.url}" filterBy="#{item.url}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListPortfolioTitle_url}"/>
                            </f:facet>
                            <h:outputText value="#{item.url}"/>
                        </p:column>
                        <p:column sortBy="#{item.visit}" filterBy="#{item.visit}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListPortfolioTitle_visit}"/>
                            </f:facet>
                            <h:outputText value="#{item.visit}"/>
                        </p:column>
                        <p:column sortBy="#{item.finished}" filterBy="#{item.finished}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListPortfolioTitle_finished}"/>
                            </f:facet>
                            <h:outputText value="#{item.finished}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListPortfolioTitle_portfolioCategoryid}"/>
                            </f:facet>
                            <h:outputText value="#{item.portfolioCategoryid}"/>
                        </p:column>
                        <p:column sortBy="#{item.percent}" filterBy="#{item.percent}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListPortfolioTitle_percent}"/>
                            </f:facet>
                            <h:outputText value="#{item.percent}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="تصاویر"/>
                            </f:facet>
                            <p:galleria value="#{item.img}" var="i" panelWidth="100" panelHeight="63" showCaption="true">
                                <h:graphicImage   value='/images/portfolio/#{i}' alt="portfolio" title="Portfolio" width="100" style="width: 100%;height: 100%" ></h:graphicImage>
                            </p:galleria>  
                        </p:column>
                        <p:column sortBy="#{item.createdAt}" filterBy="#{item.createdAt}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListPortfolioTitle_createdAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.createdAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column sortBy="#{item.updatedAt}" filterBy="#{item.updatedAt}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListPortfolioTitle_updatedAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.updatedAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>

                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle3.Create}" actionListener="#{portfolioController.prepareCreate}" update=":PortfolioCreateForm" oncomplete="PF('PortfolioCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle3.View}" update=":PortfolioViewForm" oncomplete="PF('PortfolioViewDialog').show()" disabled="#{empty portfolioController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle3.Edit}" update=":PortfolioEditForm" oncomplete="PF('PortfolioEditDialog').show()" disabled="#{empty portfolioController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle3.Delete}" actionListener="#{portfolioController.destroy}" update=":growl,datalist" disabled="#{empty portfolioController.selected}"/>
                            <p:commandButton value="دریافت اکسل اطلاعات" ajax="false" immediate="true">
                                <p:dataExporter type="xls" target="datalist" pageOnly="true" fileName="OutPut"/>
                            </p:commandButton>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
