<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:composition>

        <p:dialog id="ContentCreateDlg" widgetVar="ContentCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateContentTitle}">
            <h:form id="ContentCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contentController.selected != null}">
                        <p:panelGrid columns="2">
                            <p:outputLabel value="#{bundle.CreateContentLabel_title}" for="title" />
                            <p:inputText id="title" value="#{contentController.selected.title}" title="#{bundle.CreateContentTitle_title}" required="true" requiredMessage="#{bundle.CreateContentRequiredMessage_title}"/>
                            <p:outputLabel value="#{bundle.CreateContentLabel_orderList}" for="orderList" />
                            <p:inputText id="orderList" value="#{contentController.selected.orderList}" title="#{bundle.CreateContentTitle_orderList}" />
                            <p:outputLabel value="#{bundle.CreateContentLabel_meta}" for="meta" />
                            <p:inputText id="meta" value="#{contentController.selected.meta}" title="#{bundle.CreateContentTitle_meta}" />
                            <p:outputLabel value="#{bundle.CreateContentLabel_slug}" for="slug" />
                            <p:inputText id="slug" value="#{contentController.selected.slug}" title="#{bundle.CreateContentTitle_slug}" required="true" requiredMessage="#{bundle.CreateContentRequiredMessage_slug}"/>
                            <p:outputLabel value="#{bundle.CreateContentLabel_contentCategoryid}" for="contentCategoryid" />
                            <p:selectOneMenu id="contentCategoryid" value="#{contentController.selected.contentCategoryid}" >
                                <f:selectItems value="#{contentCategoryController.itemsAvailableSelectOne}"
                                               var="contentCategoryidItem"
                                               itemLabel="#{contentCategoryidItem.title}"
                                               itemValue="#{contentCategoryidItem}"/>
                            </p:selectOneMenu>
                        </p:panelGrid>
                        <p:panelGrid>
                            <p:outputLabel value="#{bundle.CreateContentLabel_content}" for="content" />
                            <pe:ckEditor  escape="false" height="400px"  toolbar="[[ 'Source', '-', 'Save', 'NewPage', 'Preview', 'Print', '-', 'Templates' ],['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl']
                                          ,[ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ],['Format','FontSize','Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak' ],[ 'TextColor', 'BGColor' ],[ 'Maximize', 'ShowBlocks' ]]" width="100%" language="fa"   id="content" value="#{contentController.selected.content}"  />
                        </p:panelGrid>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{contentController.create}" value="#{bundle.Save}" update="display,:ContentListForm:datalist,:growl" oncomplete="handleSubmit(args,'ContentCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ContentCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
