<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContentEditDlg" widgetVar="ContentEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditContentTitle}">
            <h:form id="ContentEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contentController.selected != null}">
                        
                        <p:outputLabel value="#{bundle.EditContentLabel_title}" for="title" />
                        <p:inputText id="title" value="#{contentController.selected.title}" title="#{bundle.EditContentTitle_title}" required="true" requiredMessage="#{bundle.EditContentRequiredMessage_title}"/>
                        <p:outputLabel value="#{bundle.EditContentLabel_content}" for="content" />
                        <p:inputTextarea rows="4" cols="30" id="content" value="#{contentController.selected.content}" title="#{bundle.EditContentTitle_content}" required="true" requiredMessage="#{bundle.EditContentRequiredMessage_content}"/>
                        <p:outputLabel value="#{bundle.EditContentLabel_orderList}" for="orderList" />
                        <p:inputText id="orderList" value="#{contentController.selected.orderList}" title="#{bundle.EditContentTitle_orderList}" />
                        <p:outputLabel value="#{bundle.EditContentLabel_meta}" for="meta" />
                        <p:inputText id="meta" value="#{contentController.selected.meta}" title="#{bundle.EditContentTitle_meta}" />
                        <p:outputLabel value="#{bundle.EditContentLabel_slug}" for="slug" />
                        <p:inputText id="slug" value="#{contentController.selected.slug}" title="#{bundle.EditContentTitle_slug}" required="true" requiredMessage="#{bundle.EditContentRequiredMessage_slug}"/>                       
                        <p:outputLabel value="#{bundle.EditContentLabel_contentCategoryid}" for="contentCategoryid" />
                        <p:selectOneMenu id="contentCategoryid" value="#{contentController.selected.contentCategoryid}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{contentCategoryController.itemsAvailableSelectOne}"
                                           var="contentCategoryidItem"
                                           itemLabel="#{contentCategoryidItem.title}"
                                           itemValue="#{contentCategoryidItem}"/>
                        </p:selectOneMenu>
                        
                    </p:panelGrid>
                    <p:commandButton actionListener="#{contentController.update}" value="#{bundle.Save}" update="display,:ContentListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ContentEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ContentEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
