<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContentCategoryEditDlg" widgetVar="ContentCategoryEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditContentCategoryTitle}">
            <h:form id="ContentCategoryEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contentCategoryController.selected != null}">
                        <p:outputLabel value="#{bundle.EditContentCategoryLabel_title}" for="title" />
                        <p:inputText id="title" value="#{contentCategoryController.selected.title}" title="#{bundle.EditContentCategoryTitle_title}" required="true" requiredMessage="#{bundle.EditContentCategoryRequiredMessage_title}"/>
                        <p:outputLabel value="#{bundle.EditContentCategoryLabel_describtion}" for="describtion" />
                        <p:inputText id="describtion" value="#{contentCategoryController.selected.describtion}" title="#{bundle.EditContentCategoryTitle_describtion}" />
                        <p:outputLabel value="#{bundle.EditContentCategoryLabel_meta}" for="meta" />
                        <p:inputText id="meta" value="#{contentCategoryController.selected.meta}" title="#{bundle.EditContentCategoryTitle_meta}" />
                        <p:outputLabel value="#{bundle.EditContentCategoryLabel_slug}" for="slug" />
                        <p:inputText id="slug" value="#{contentCategoryController.selected.slug}" title="#{bundle.EditContentCategoryTitle_slug}" required="true" requiredMessage="#{bundle.EditContentCategoryRequiredMessage_slug}"/>
                        <p:outputLabel value="#{bundle.EditContentCategoryLabel_enable}" for="enable" />
                        <p:selectBooleanCheckbox id="enable" value="#{contentCategoryController.selected.enable}" required="true" requiredMessage="#{bundle.EditContentCategoryRequiredMessage_enable}"/>
                        <p:outputLabel value="#{bundle.EditContentCategoryLabel_visible}" for="visible" />
                        <p:selectBooleanCheckbox id="visible" value="#{contentCategoryController.selected.visible}" required="true" requiredMessage="#{bundle.EditContentCategoryRequiredMessage_visible}"/>
                        <p:outputLabel value="زیر شاخه :" for="subctg" />
                        <p:selectOneMenu id="subctg" value="#{contentCategoryController.selected.subctg}" >
                            <f:selectItem itemLabel="انتخاب کنید"/>
                            <f:selectItems value="#{contentCategoryController.itemsAvailableSelectOne}"
                                           var="subctgItem"
                                           itemValue="#{subctgItem}"
                                           itemLabel="#{subctgItem.title}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{contentCategoryController.update}" value="#{bundle.Save}" update="display,:ContentCategoryListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ContentCategoryEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ContentCategoryEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
