<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContentCategoryViewDlg" widgetVar="ContentCategoryViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewContentCategoryTitle}">
            <h:form id="ContentCategoryViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contentCategoryController.selected != null}">
                        <h:outputText value="#{bundle.ViewContentCategoryLabel_id}"/>
                        <h:outputText value="#{contentCategoryController.selected.id}" title="#{bundle.ViewContentCategoryTitle_id}"/>
                        <h:outputText value="#{bundle.ViewContentCategoryLabel_title}"/>
                        <h:outputText value="#{contentCategoryController.selected.title}" title="#{bundle.ViewContentCategoryTitle_title}"/>
                        <h:outputText value="#{bundle.ViewContentCategoryLabel_describtion}"/>
                        <h:outputText value="#{contentCategoryController.selected.describtion}" title="#{bundle.ViewContentCategoryTitle_describtion}"/>
                        <h:outputText value="#{bundle.ViewContentCategoryLabel_meta}"/>
                        <h:outputText value="#{contentCategoryController.selected.meta}" title="#{bundle.ViewContentCategoryTitle_meta}"/>
                        <h:outputText value="#{bundle.ViewContentCategoryLabel_slug}"/>
                        <h:outputText value="#{contentCategoryController.selected.slug}" title="#{bundle.ViewContentCategoryTitle_slug}"/>
                        <h:outputText value="#{bundle.ViewContentCategoryLabel_enable}"/>
                        <p:selectBooleanCheckbox value="#{contentCategoryController.selected.enable}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewContentCategoryLabel_visible}"/>
                        <p:selectBooleanCheckbox value="#{contentCategoryController.selected.visible}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewContentCategoryLabel_createdAt}"/>
                        <h:outputText value="#{contentCategoryController.selected.createdAt}" title="#{bundle.ViewContentCategoryTitle_createdAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewContentCategoryLabel_updatedAt}"/>
                        <h:outputText value="#{contentCategoryController.selected.updatedAt}" title="#{bundle.ViewContentCategoryTitle_updatedAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ContentCategoryViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
